github "mbieweng/LoopKit" "FPU-dev"
github "mbieweng/CGMBLEKit" "FPU-dev"
github "i-schuetz/SwiftCharts" == 0.6.2
github "mbieweng/dexcom-share-client-swift" "carthage-recursive"
github "mbieweng/G4ShareSpy" "fix-cartfile"
github "mbieweng/rileylink_ios" "FPU-dev"
github "LoopKit/Amplitude-iOS" "decreepify"
